.map-container {
    width: 100%;
    height: 100vh; /* Ensure the map has a height */
   
}
#map {
    width: 100%;
    height: 100%;
}

.map-bg{
    margin-top: -70px;
}
.logo img {
    width: 200px;
    height: 60px;
}
