@import "tailwindcss";
@import "tailwindcss/utilities";
@import "tailwindcss/components";



/* for smooth scroll spy  */


html {
    scroll-behavior: smooth;
  }  

.hero {
    background-color: #090042;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}



.logo img {
    width: 200px;
    height: 60px;
}



.tree ul {
    padding-top: 30px;
    position: relative;
    transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #fcfcfc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 30px;
}

.tree li button {
    border: 1px solid #f6f6f6;
    padding: 15px;
    text-decoration: none;
    color: #cfcfcf;
    font-family: arial, verdana, tahoma;
    font-size: 13px;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.5s;
    background: transparent;
}

/* 
.tree li button:hover, .tree li button:hover + ul li button {
    background: #c8e4f8; 
    color: #000; 
    border: 1px solid #94a0b4;
}

.tree li button:hover + ul li::after, 
.tree li button:hover + ul li::before, 
.tree li button:hover + ul::before, 
.tree li button:hover + ul ul::before {
    border-color: #94a0b4;
} */



.card-list {
    display: flex;
    /* flex-wrap: wrap;  */
    list-style: none;
    padding: 0;
}

.card-list li {
    flex: 1 1 calc(33.33% - 10px);
    max-width: 90px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: #3a455f;
    width: 105%;
    min-height: 100px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover{
    background-color: #7483ab;
}

.card .popup-content {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40vw;
    min-height: 650px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
}

.card .popup-content h3 {
    font-weight: bold;
    padding: 2rem 0 1rem 0;
    text-align: center;
    font-size: 30px;
}

/* Show on hover */

.card:hover .popup-content {
    opacity: 1;
    visibility: visible;
}


.card_ul {
    text-decoration: none;
    list-style: none;
}

.card_ul_li {
    text-decoration: none;
    list-style: none;
}

.treetwo {
    padding: 25rem 0 0 10rem !important;
    /* margin: 15rem 0 0 0 !important; */
}

.upsen_img{
    width: 80%;
    margin: auto;
    padding: 5rem 0 0 0;
}







/* map css here  */
